<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    List of my todos<br/>

    {% for todo in todos %}
    {{todo}}<br/>
    {% endfor %}
    --- LIST ENDS HERE ---
    
    <form action="/add_todos" method="POST">
        <label>Username:
                <input type="text" name="user_name" id="username_text">
        </label>
        <label> Your ToDo:
                <input type="text" name="todo" id="todo_text">
        </label>
        <button onclick="add_todos()">Add Todo</button>
        
    </form>
    <script>
        function add_todos(){
            console.log("button clicked");
            var username = $('#username_text');
            var todo = $('#todo_text');
            console.log(username,todo);
            username_val = username.val();
            todo_val = todo.val();
            console.log(username_val, todo_val);
            // $.ajax({
            //     url: '/add_todos',
            //     type: 'POST'
            // })
        }
    </script>
</body>
